# ==== ENTORNOS VIRTUALES ====
venv/
src/venv/

# ==== PYTHON ====
__pycache__/
*.py[cod]
*$py.class

# ==== DJANGO ====
# Base de datos local
db.sqlite3

# Archivos de migraciones (opcional, si no quieres subirlos)
# */migrations/*.py
# */migrations/__pycache__/

# ==== CONFIGURACIÓN PRIVADA ====
.env
*.env

# ==== LOGS ====
*.log

# ==== EDITORES ====
.vscode/
.idea/

# ==== SISTEMA ====
.DS_Store
Thumbs.db
